main.homepage {
  display: flex;
  flex-wrap: wrap;
  gap: 20%;
  justify-content: center;
}

.company-item {
  margin: 3rem 0;
  box-shadow: 1px 1px 4px #ccc;
  padding: 3rem 5rem;
  min-height: 300px;


  .company-name {
    text-align: center;
    margin-bottom: 2rem;
  }

  .company-logo {
    width: 10rem;
    height: auto;
  }
}